@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  /* colors */
  --clr-secondary: white;
  --clr-primary: black;
  --clr-overlay: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  --clr-modal-overlay: linear-gradient(
    rgba(0, 0, 0, 0.85),
    rgba(0, 0, 0, 0.85)
  );

  /* font */
  --gf-primary: "Roboto", sans-serif;

  /* border */
  --border-black: 0.2em solid black;
  --border-white: 0.2em solid white;
  --text-shadow-white: 0.03em 0.03em rgb(255, 255, 255);
  --box-shadow-navbar: 0 0.5em 0.5em rgb(78, 78, 78);
  --btn-shadow-primary: 0 0.5em 0.5em rgb(78, 78, 78);
  --btn-shadow-secondary: 0 0.5em 0.5em rgb(173, 173, 173);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--gf-primary);
}
h1 {
  text-transform: capitalize;
  text-align: center;
  margin: 0.5em;
  padding: 0.5em;
  font-size: 2.5rem;
}
h2 {
}
h3 {
  font-size: 0.9rem;
}
h4 {
}
h5 {
}
p {
  font-size: 0.6rem;
  letter-spacing: 0.2em;
  padding: 0.5em;
  margin: 0.5em;
}

button {
  margin: 0.5em;
  padding: 0.5em 1em;
  font-weight: 900;
  font-size: 0.7rem;
  border-radius: 15px;
  cursor: pointer;

  border: var(--border-black);
  color: var(--clr-primary);
  background: var(--clr-secondary);
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  button {
    font-size: 0.85rem;
  }
  p {
    font-size: 0.75rem;
    letter-spacing: 0.1em;
  }
}
@media screen and (min-width: 1180px) {
  h1 {
    font-size: 3.5rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  button {
    font-size: 1rem;
  }
  p {
    font-size: 0.8rem;
    letter-spacing: 0.09em;
  }
}
.primary-btn {
  text-transform: uppercase;
  transition: all 0.2s;
}
.primary-btn:hover {
  background-color: var(--clr-primary);
  color: var(--clr-secondary);
  border: var(--border-white);
}
.height-700 {
  min-height: 700px;
}
.height-600 {
  min-height: 600px;
}
.height-500 {
  /* AKO IKADA TREBA DA SE PRODUZI DOLE KOD ROTIRANJA EKRANA */
  /* min-height: 500px; */
}
.height-400 {
  min-height: 400px;
}
.center-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.center-flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* HOME PAGE */
.overlay {
  display: flex;
  flex-direction: column;
  background: var(--clr-overlay);
}
/* NAVBAR */
nav {
  height: 4rem;
  background-color: var(--clr-primary);
  justify-content: space-between !important;
  box-shadow: var(--box-shadow-navbar);
}
.logo-container {
  height: 4rem;
}
.logo {
  object-fit: contain;
  height: 100%;
  padding: 0.5em;
}
.nav-btn {
  text-transform: none;
}
/* HOME-SECTION */
.home-section {
  height: calc(100vh - 4rem);
  display: flex;
}
.nottinder-inscription {
  text-shadow: var(--text-shadow-white);
  position: relative;
}
.nottinder-inscription::after {
  content: "\00AE";
  position: absolute;
  top: 0.5em;
  font-size: 0.6em;
}
.create-acc-btn {
  box-shadow: var(--btn-shadow-secondary);
}
.create-acc-btn:hover {
  box-shadow: var(--btn-shadow-primary);
}
@media screen and (min-width: 768px) {
  nav {
    height: 5rem;
  }
  .logo-container {
    height: 5rem;
  }
  .home-section {
    height: calc(100vh - 5rem);
  }
}
@media screen and (min-width: 1180px) {
  nav {
    height: 5.5rem;
  }
  .logo-container {
    height: 5.5rem;
  }
  .home-section {
    height: calc(100vh - 5.5rem);
  }
}
/* MODAL */
.authorization-modal-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--clr-modal-overlay);
}
.authorization-modal {
  position: relative;
  width: 80%;
  height: 80%;
  max-width: 300px;
  max-height: 600px;
  background-color: var(--clr-secondary);
  justify-content: space-around !important;
}
.authorization-modal header {
  text-align: center;
}
.create-acc-inscription p {
  width: 90%;
  font-weight: 400;
}
.fiX-icon {
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.1em;
  margin: 0.1em;
  transition: all 0.5s;
  cursor: pointer;
}
.fiX-icon:hover {
  transform: rotate(180deg);
}
.modal-form {
  width: 100%;
}
.form-inputs {
  width: 100%;
  margin-bottom: 2em;
}
input[type="email"],
input[type="password"] {
  width: 90%;
  padding: 0.25em;
  margin: 0.4em 0 0.4em 0;
  border: var(--border-black);
}
.modal-error-msg {
  text-align: center;
}
.modal-submit-btn {
  box-shadow: var(--btn-shadow-secondary);
}
.modal-submit-btn:hover {
  box-shadow: var(--btn-shadow-primary);
}
/* ROTATED PHONE.. */
@media screen and (max-height: 500px) {
  .authorization-modal {
    width: 80%;
    max-width: 600px;
  }
  .modal-form {
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
  }
  .modal-submit-btn {
    width: 100px;
  }
}
@media screen and (min-width: 768px) {
  .authorization-modal {
    max-width: 350px;
  }
}
@media screen and (min-width: 1180px) {
  .authorization-modal {
    max-width: 420px;
  }
}
/* END OF HOME PAGE */
