@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  /* colors */
  --clr-secondary: white;
  --clr-primary: black;
  --clr-overlay: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  --clr-modal-overlay: linear-gradient(
    rgba(0, 0, 0, 0.85),
    rgba(0, 0, 0, 0.85)
  );

  /* font */
  --gf-primary: "Roboto", sans-serif;

  /* border */
  --border-black: 0.2rem solid black;
  --border-white: 0.2rem solid white;
  --text-shadow-white: 0.05rem 0.05rem rgb(207, 205, 205);
  --box-shadow-navbar: 0 0.5rem 0.5rem rgb(78, 78, 78);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--gf-primary);
}
h1 {
  text-transform: capitalize;
  margin: 1rem;
  padding: 1rem;
  font-size: 2.5rem;
}
h3 {
  font-size: 0.9rem;
}
p {
  font-size: 0.6rem;
}
button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  font-weight: 900;
  font-size: 0.7rem;
  border-radius: 15px;

  border: var(--border-black);
  color: var(--clr-primary);
  background: var(--clr-secondary);
}
.primary-btn {
  text-transform: uppercase;
  transition: all 0.2s;
}
.primary-btn:hover {
  background-color: var(--clr-primary);
  color: var(--clr-secondary);
  border: var(--border-white);
}
.height-500 {
  min-height: 500px;
}
/* HOME PAGE */
/* NAVBAR */
nav {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: var(--clr-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow-navbar);
}
.logo-container {
  width: 190px;
  margin: 0.3rem;
}
.logo {
  width: 100%;
  object-fit: contain;
}
.nav-btn {
  margin: 0 1rem 1rem 0;
}
.nav-btn:hover {
  background-color: var(--clr-primary);
  border: var(--border-white);
  color: var(--clr-secondary);
}
/* HOME-SECTION */
.overlay {
  width: 100vw;
  height: 500px;
  background: var(--clr-overlay);
}
.home-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home {
  width: 100%;
}
.nottinder-inscription {
  text-shadow: var(--text-shadow-white);
}
.nottinder-inscription::after {
  content: "\00AE";
  font-size: 1rem;
}
/* MODAL */
.authorization-modal-overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: var(--clr-modal-overlay);
}
.authorization-modal {
  background-color: var(--clr-secondary);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 350px;
  height: 80%;
  min-height: 450px;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.create-acc-inscription {
  position: relative;
}
.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.fiX-icon {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5rem 0.5rem 0 0;
  font-size: 1.1rem;
}
.authorization-modal p {
  width: 75%;
  max-width: 300px;
  padding: 0.2rem;
  margin: 1rem auto 0 auto;
}
input[type="email"],
input[type="password"] {
  padding: 0.1rem;
  margin: 0.1rem auto 0.1rem auto;
  width: 100%;
  max-width: 300px;
}
.modal-submit-btn {
  background-color: var(--clr-primary);
  border: var(--border-black);
  color: var(--clr-secondary);
  font-size: 0.6rem;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
/* END OF HOME PAGE */

/* RESPONISVNES */

@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.5rem;
  }
  h3 {
    font-size: 1.1rem;
  }
  button {
    font-weight: 900;
    font-size: 1rem;
  }
  nav {
    flex-direction: row;
    justify-content: space-between;
  }
  .logo-container {
    margin: 1rem;
  }
  .nav-btn {
    margin: 0 1rem 0 0;
  }
  .authorization-modal {
    max-width: 400px;
    min-height: 700px;
  }
  .fiX-icon {
    font-size: 1.3rem;
    margin: 0.8rem 0.8rem 0 0;
  }
  .modal-submit-btn {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 1170px) {
  h1 {
    font-size: 4.5rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  button {
    font-size: 1.2rem;
  }
  .authorization-modal {
    max-width: 500px;
    min-height: 800px;
  }
  .fiX-icon {
    font-size: 1.5rem;
    margin: 1rem 1rem 0 0;
  }
}
